<div class="flex flex-col justify-center items-center p-4">
    <h1 class="text-2xl">Create a new Account</h1>
    <div class="bg-yellow-200 shadow-md rounded-md p-3 my-2 sm:w-72">
        <form>
            <label for="email" class="block">Email</label>
            <input type="text" name="email" class="border w-full rounded-sm">

            <label for="username" class="block">Username</label>
            <input type="text" name="username" class="border w-full rounded-sm">

            <label for="password" class="block">Password</label>
            <input type="password" name="password" class="border w-full rounded-sm">

            <button type="submit" class="mt-2 bg-gray-700 text-white p-2 rounded-md">Register</button>
        </form>
    </div>
    <a href class="text-sm">Already have an Account ? LogIn</a>
</div>